* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e4e4e4;
  width: 100%;
  height: 100vh;
}

.showcase::after {
  content: '';
  position: absolute;
  z-index: 1;
  background: url('https://source.unsplash.com/1920x1080/?weather,dark') no-repeat center center/cover;
  filter: brightness(0.85);
  height: 100vh;
  width: 100%;
}

.card {
  background: #000000d5;
  z-index: 2;
  color: #ffffff;
  margin: 1rem;
  padding: 2.2rem 2.3rem 1.6rem 2.4rem;
  border-radius: 25px;
  max-width: 500px;
  width: 100%;
  /* box-shadow: 4px 4px 20px #2e2e2e80, -4px -4px 20px #2e2e2e80; */
}

.card .search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card input {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  background: #4e4e4e5e;
  color: #fff;
  margin-right: 1rem;
  /* margin-bottom: 1rem; */
  width: 85%;
  outline: none;
  border: none;
  border-radius: 25px;
  padding: 0.7rem 1rem;
}

.card input:focus {
  outline: none;
  border: none;
}

.card button {
  background: transparent;
  border: none;
}

.card i {
  color: #ffffff9f;
  font-size: 1.2rem;
  background: #4e4e4e5e;
  padding: 0.9rem;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  transition: 0.3s ease-in-out;
}

.card i:hover {
  /* color: #ff3c00; */
  background: #4e4e4ebd;
}

.card i:focus {
  outline: none;
}

.weather h2 {
  font-family: 'Oswald', sans-serif;
  margin: 2.3rem 0 1rem;
}

.weather div {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  margin-top: 0.3rem;
}

.weather .description {
  margin-top: 1.1rem;
}

.weather .temp {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 0rem;
}

.weather .flex-wrap {
  display: flex;
}

@media (max-width: 700px) {
  
  html {
    font-size: 14px;
  }
  .card {
    max-width: 330px;
  }

  .card input {
    width: 90%;
  }

}